deep-translator==1.11.4
flasgger==0.9.7.1
Flask==2.3.3
flask-swagger-ui==4.11.1
fsspec==2023.9.2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
PyAudio==0.2.14
SpeechRecognition==3.10.4
urllib3==2.0.6
Werkzeug==2.3.7
